html,
body {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #434453;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: cyan;
    text-align: center;
    font-size: 20pt;
    font-weight: normal;
}

select {
    border: 2px solid cyan;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px cyan;
    font-size: 15pt;
}

select:hover {
    opacity: 60%;
}

#options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.option {
    text-align: center;
}

#keyboard {
    width: 100%;
    height: 200px;
    margin: 20px 50px;
    display: flex;
}

.note {
    width: 100%;
    height: 194px;
    margin: 1px;
    border: 3px solid cyan;
    border-radius: 7px;
    color: cyan;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0px 0px 5px cyan inset;
    transition: font-size 0.1s;
}

.note:hover {
    background-color: rgba(0, 255, 255, 0.2);
    font-size: 14pt;
}

.note:active {
    background-color: rgba(0, 255, 255, 0.7);
}

.note img {
    width: min(calc(100% - 10px), 50px);
    aspect-ratio: 1;
    margin: 60px auto;
    display: block;
    border-radius: 5px;
    border: none;
}

#components {
    width: 100%;
    display: flex;
    justify-content: center;
}

#components > * {
    margin: 0px 10px;
    padding: 20px;
    border-radius: 10px;
    color: cyan;
    background-color: rgba(255, 255, 255, 0.1);
}

#component-panel {
    list-style-type: none;
}

#component-panel li {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid transparent;
}

#component-panel li.selected {
    border: 3px solid cyan;
}

#component-panel li:hover {
    border: 3px solid rgba(0, 255, 255, 0.5);
}

#component-panel img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    vertical-align: middle;
}
